<h1>Let's See What You Remember</h1>



<div class="row" style="margin-top: 10%;">
  <div class="medium-4 column">
    <div class="memo-card">
      <div class="memo">
        <p class="cardData" id="card1"><%= "Loading!" %></p>
      </div>
      <div class="memo-buttons">
        <a href="#" class="button">Got it</a>
        <a href="#" class="button alert end">Not got it</a>
      </div>
    </div>
  </div>
  <div class="medium-4 column">
    <div class="memo-card">
      <div class="memo">
        <p class="cardData" id="card2"><%= "Just a sec!" %></p>
      </div>
      <div class="memo-buttons">
        <a href="#" class="button">Got it</a>
        <a href="#" class="button alert end">Not got it</a>
      </div>
    </div>
  </div>
  <div class="medium-4 column end">
    <div class="memo-card">
      <div class="memo">
        <p class="cardData" id="card3"><%= "Loading!" %></p>
      </div>
      <div class="memo-buttons">
        <a href="#" class="button">Got it</a>
        <a href="#" class="button alert end">Not got it</a>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/memoscope.js"></script>
